# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
build/

# Local Environment & Secrets
.env
.env.local
.env.*.local
*.env
!*.env.example

# SQLite Databases & Logs
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
